[package]
name = "custom_u8g2_fonts"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full"] }

[dev-dependencies]
macrotest = "1.0"
u8g2-fonts = "0.7.2"
